HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd
!**/src/main/**
!**/src/test/**
logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.mvn
*.iws
*.iml
*.ipr
/logs

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

